* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container__group-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container__create-group-photo {
    height: 250px;
    border-radius: 20px;
}
